@{
  Layout="_Layout";
}

<h1>We are Factory</h1>

<div>
  <span>@Html.ActionLink("List of Engineers", "Index", "Engineers")</span><br>
  <span>@Html.ActionLink("List of Machines", "Index", "Machines")</span>
</div>